<div class="item">
    <div class="row">
        <div class="col-md-10">
            <div class="col-sm-6">
                <img src="{{ post._thumbnail_id|apply_filters('get_theme_mod_image', '') }}"
                     class="product-img img-responsive" style="max-height: 220px;">
            </div>
            <div class="col-sm-6">
                <h3>Thanks for your order. Your order details:</h3>
                <p>{{ post.post_title }}</p>
                <p>id: {{ post.ID }}</p>
                <div class="user-order"></div>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" href="#carousel-{{ i }}" data-slide="prev">Prev Step</button>
            <div class="space-ten"></div>
        </div>
    </div>
</div>
