<section class="row about" id="about">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12 col-md-4 col-md-push-4 text-center wow fadeIn">
                {#<img src="<?= get_template_directory_uri() ?>/assets/built/images/apple-watch-3.png" alt="">#}
            </div>
            <div class="col-md-4 col-sm-6 col-md-pull-4 left-content">
                <div class="media wow fadeInUp">
                    <div class="media-left">
                        <span><i class="li_key"></i></span>
                    </div>
                    <div class="media-body">
                        <h4>Fast and secure</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
                    </div>
                </div>
                <div class="media wow fadeInUp" data-wow-delay="0.3s">
                    <div class="media-left">
                        <span><i class="li_megaphone"></i></span>
                    </div>
                    <div class="media-body">
                        <h4>Voice Assistant</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
                    </div>
                </div>
                <div class="media wow fadeInUp" data-wow-delay="0.6s">
                    <div class="media-left">
                        <span><i class="li_diamond"></i></span>
                    </div>
                    <div class="media-body">
                        <h4>Apps you love</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 right-content">
                <div class="media wow fadeInUp">
                    <div class="media-left">
                        <span><i class="li_like"></i></span>
                    </div>
                    <div class="media-body">
                        <h4>Stay in touch</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
                    </div>
                </div>
                <div class="media wow fadeInUp" data-wow-delay="0.3s">
                    <div class="media-left">
                        <span><i class="li_user"></i></span>
                    </div>
                    <div class="media-body">
                        <h4>Designed for you</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
                    </div>
                </div>
                <div class="media wow fadeInUp" data-wow-delay="0.6s">
                    <div class="media-left">
                        <span><i class="li_clock"></i></span>
                    </div>
                    <div class="media-body">
                        <h4>Precise timepiece</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
